@media only screen and (max-width: 800px) 
{
    /* For mobile phones: */
    .page-header-title img
    {
        width: 30%;
    }
   .page-header .page-header-title h1
    {
        width: 10%;
        float:left; 
        font-size: 6rem;
        float: left;
    }
    .container .page-header
    {
        padding: 1%;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        padding:auto;
        width:100%;
        
    }
    .page-header .page-header-buttons
    {
        width: 100%;
    }

}


.modal-header h3
{
   color: rgb(26, 0, 0);
}
.modal-footer {
    padding: 15px;
    text-align: right;
    margin-top: 50px;
    border-top: 1px solid #e5e5e5;
}
.page-header
{
    padding: 1%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:auto;

    width:50%;
    height:50%;

    background-color: rgba(54, 0, 0, 0.00);
    border: 0px solid green;
}

.page-header-title
{
    border: 0px solid white;
    width: 100%;
    text-align:center;
    margin:auto;
}

.logo{
    transform: scale(1.5,1.5);
}



.btn-header
{
    position: relative;
    top:100%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:auto;

}


.page-header-buttons
{
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:auto;
    border: 0px solid black;
    width: 50%;
}

.page-header-description p
{
    float:left;
    margin-left:3%;
}

.btn-header
{
float:left;
width:49%;
margin-left: 1%;
}

.form-label
{
    color:rgb(26, 0, 0);
}