body{
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #41484D,#660002);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.modal-header h3
{
   color: rgb(26, 0, 0);
}

.page-header
{
    padding: 1%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:auto;

    width:50%;
    height:50%;

    background-color: rgba(54, 0, 0, 0.05);
    border: 0px solid green;
}

.page-header-title
{
    border: 0px solid white;
    width: 100%;
}
.page-header-title h1
{
    font-size: 10rem;
    float: left;
}
.page-header-title img
{
    float: left;
}

.btn-header
{
    position: relative;
    top:100%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:auto;

}


.page-header-buttons
{
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:auto;
    border: 0px solid black;
    width: 50%;
}

.page-header-description p
{
    float:left;
    margin-left:3%;
}

.btn-header
{
float:left;
width:49%;
margin-left: 1%;
}

.form-label
{
    color:rgb(26, 0, 0);
}